<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="NopCommerce Suite" verbose="1" parallel="false">
  <test name="Regression">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.nopcommerce.tests.RegisterTest"/>
      <class name="com.nopcommerce.tests.LoginTest"/>
      <class name="com.nopcommerce.tests.SearchTest"/>
      <class name="com.nopcommerce.tests.CartTest"/>
      <class name="com.nopcommerce.tests.CheckoutTest"/>
      <class name="com.nopcommerce.tests.OrderHistoryTest"/>
    </classes>
  </test>
</suite>
